
<div class="container">
  <div class="logo">
      <img src="/Logo1.png" alt="Welcome Image">
  </div>
  <nav>
      <ul>
          <li><a href="#home">MunchHome</a></li>
          <li><a href="#signup" class="btn" routerLink="/signup">Sign Up</a></li>
      </ul>
  </nav>
</div>


<section id="home" class="welcome-section">

<div class="welcome-container">
  <div class="welcome-image">
      <img src="/signup.png" alt="Welcome Image">
  </div>
  
  <div class="welcome-text">
      
     
<h1>Choose how you want to start your Munch journey...</h1>
<nav>
  <ul >
  
      <!-- <li><a href="javascript:void(0);" class="btn"  router-link >Join Us as a Parent</a></li>
      <li><a href="javascript:void(0);" class="btn" (click)="joinAsVendor()">Join Us as a Vendor</a></li> -->
            <li><a href="#signupParent" class="btn"  routerLink="/signupParent" >Join Us as a Parent  >></a></li></ul>
          <ul> <li><a href="#signupVendor" class="btn" routerLink="/signupVendor">Join Us as a Vendor  >></a></li>
           



 
  </ul>
</nav>


<!-- <div>
    <h2>Register</h2>
    <form (submit)="signup()">
      <div>
        <label for="username">Username</label>
        <input type="text" id="username" required>
      </div>
      <div>
        <label for="password">Password</label>
        <input type="password" id="password" required>
      </div>
      <button type="submit">Register</button>
    </form>
  </div> -->
  
