<p>newhome works!</p>
<div class="container">
    <div class="logo">
        <img src="/HeaderLogo.png" alt="Welcome Image">
    </div>
    <nav>
        <ul>
            <li><a href="#home">MunchHome</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
            <li><a href="#signin" class="btn" routerLink="/login">Sign in</a></li>
            <li><a href="#signup" class="btn" routerLink="/signup">Sign Up</a></li>
        </ul>
    </nav>
</div>


<section id="home" class="welcome-section">

<div class="welcome-container">
    <div class="welcome-image">
        <img src="/welcome.png" alt="Welcome Image">
    </div>
    
    <div class="welcome-text">
        
      
        <h2>Welcome to Your Favorite Munch Feast!</h2>
        <router-outlet></router-outlet>
        <p>We're delighted to have you here.
        <br>Explore and enjoy our  recipes for toddlers  
        <br>Happy Munch browsing!</p>
        
       
    </div>
</div>
</section>

<section id="parent" class="info-section">
<div class="info-container">
    <div class="info-image">
        <img src="/parent.png" alt="Parent Image">
    </div>
    <div class="info-text">
        <h2>Are you a Parent?</h2>
        <p>Munchkin Feast is your go-to platform for delicious and nutritious recipes tailored specifically for toddlers aged 1 to 3 years. Our mission is to support parents in providing wholesome meals that promote healthy growth and development in their little ones. Also, you have access to a trusted homemade food hub as well.</p>
        <a href="#get-started-parent" class="btn">Get Started</a>
    </div>
</div>
</section>

<section id="vendor" class="info-section">
<div class="info-container">
    <div class="info-image">
        <img src="/vendor.png" alt="Vendor Image">
    </div>
    <div class="info-text">
        <h2>Are you a Homemade Food Vendor?</h2>
        <p>Are you a vendor with a passion for toddler nutrition? Join our community and share your service for our recipes with parents looking for the best for their children. By registering with us, you'll gain access to a dedicated audience and the opportunity to contribute to the well-being of countless toddlers.</p>
        <a href="#get-started-vendor" class="btn">Get Started</a>
    </div>
</div>
</section>

<footer>
<div class="footer-container">
    <div class="footer-info">
        <p>Contact Information<br>Tel: +94 733310757</p>
        <p>Legal Information<br><a href="#privacy-policy">Privacy Policy</a> | <a href="#terms-of-service">Terms of Service</a></p>
    </div>
    <div class="footer-nav">
        <a href="#home">MunchHome</a>
        <a href="#about">About</a>
        <a href="#contact">Contact</a>
        <a href="#tips">MunchTips</a>
    </div>
</div>
</footer>
