 <div class="container">
    <div class="logo">
        <img src="/Logo1.png" alt="Welcome Image">
    </div>
    <nav>
        <ul>
            <li><a href="#home">MunchHome</a></li>

        </ul>
    </nav>
</div>


<section id="home" class="welcome-section">

    <div class="welcome-container">
        <div class="welcome-image">
            <img src="/welcome.png" alt="Welcome Image">
        </div>
<div class="welcome-text">
     
      
    <form (submit)="parentsignup()" class="login-form">
       
       <label class="placeholder">User Name : </label><input type="text" placeholder="Enter Username" id="username" required>
       
       <label class="placeholder">password : </label><input type="password" placeholder="Enter Password" id="password"required>  
       
       <label class="placeholder">Confirm Password : </label><input type="password" placeholder="Confirm Password" id="password"required>
     
       <label class="placeholder">Email : </label><input type="email" placeholder="Enter your E-mail" id="email"required>
    
       <div class="form-options">
        <label><input type="checkbox">By signing up, you agree to Munch Feast's Terms of Service, Privacy Policy Also you consent to receiving emails and recipe recommendations from us, using the information you provide."</label>
      
     </div>
       <button type="submit" class="btnsignup">Sign Up</button>
       
   </form>
   </div>
   </div> 





