
    <!-- <main class="app-content"> -->
      <!-- <div class="title">Dashboard</div> -->
      <p-fieldset legend="Dashboard">
      <section class="welcome-content"> 
      
      

    </section>
      <section class="section-1">
        <app-babycard></app-babycard>

        <div class="section-1-content">Section 1 Content</div>
      </section>
      <section class="section-2">Check Out Our Essential Tips for Toddlers!
        <p>Discover practical and insightful tips designed to support your toddler's nutrition and overall well-being. Proper nutrition during these early years is crucial for your child's growth, development, and long-term health. Our carefully curated tips will help you provide balanced and nutritious meals, ensuring your little one gets the essential nutrients they need to thrive.</p>

        <a routerLink="./showtips" >show tips</a>
       
      </section>
    </p-fieldset>
    
 